/* GLOBAL STYLING */

:root {
  --primary: #eb0101;
  --secondary: #b8bbbc;
  --fade: linear-gradient(
    60deg,
    var(--secondary),
    var(--primary),
    var(--primary),
    var(--primary)
  );
  --curl: "lobster", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
  font-size: 1.3rem;
  font-family: "Montserrat";
}

/* NAVBAR STYLING */

.alpha {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  /*background: linear-gradient(0deg,var(--primary), #000, #000, #000);*/
  background: linear-gradient(
    0deg,
    #000,
    #000,
    #000,
    var(--primary),
    var(--primary)
  );
  z-index: 2;
}
.nav {
  /*  position: absolute;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: fixed;
}
.logo-container {
  display: flex;
  align-items: center;
  background-image: var(--fade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex: 1;
}

.menus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  color: var(--secondary);
  outline: none;
  text-decoration: none;
}
.menu {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 1;
  /* border: 1px solid red;*/
}
.menu button {
  color: var(--secondary);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding-left: 5px;
}
.menu::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  border-radius: 15px;
  left: 50%;
  bottom: -30%;
  z-index: 2;
  background: var(--primary);
  transform: translate(-50%, 0);
  transition: 0.5s ease-in-out all;
}
.menu:hover::after {
  width: 80%;
}
.menu:hover,
.menu:active {
  color: var(--primary);
  background: transparent !important;
}

.menu button:hover,
.menu button:active {
  color: var(--primary);
  background: transparent !important;
}

.logo {
  font-family: var(--curl);
  padding-left: 3.5px;
  font-size: 2rem;
  font-weight: bolder;
}

/* about styling */
.about-container {
  position: relative;
  top: 15vh;
  padding: 2rem;
  display: flex;
}
.side-detail {
  position: absolute;
  width: 55vh;
  height: 65vh;
  right: 15vh;
  /*border: 1px solid red;*/
  padding: 1vh;
  overflow: hidden;
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}
.wrapper {
  display: flex;
  transform: translateX(-100%);
}
.wrapper > * {
  min-width: 50vh;
  padding-left: 2.2rem;
}
.btn {
  display: flex;
}
