 /* GLOBAL STYLING */

:root {
    --primary: #eb0101;
    --secondary: #b8bbbc;
    --fade: linear-gradient(60deg,var(--secondary), var(--primary), var(--primary), var(--primary));
    --curl: 'lobster', cursive;
    
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
  body {
    background: #000;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Montserrat';
    
  }
  
  /* NAVBAR STYLING */
  
  .alpha {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    /*background: linear-gradient(0deg,var(--primary), #000, #000, #000);*/
    background: linear-gradient(0deg,#000, #000, #000, var(--primary), var(--primary));
    z-index: 2;
  }
  .nav {
  /*  position: absolute;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: fixed;
  }
  .logo-container {
    display: flex;
    align-items: center;
    background-image: var(--fade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex: 1;
  }
  .menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    color: var(--secondary);
    outline: none;
    text-decoration: none;
  }
  .menu {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: 1;
   /* border: 1px solid red;*/
  
  }
  .menu button {
    background: transparent;
    color: var(--secondary);
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 5px;
    font-size: 1.2rem;
  }
  .menu::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 15px;
    left: 50%;
    bottom: -30%;
    z-index: 2;
    background: var(--primary);
    transform: translate(-50%, 0);
    transition: .5s ease-in-out all;
  }
  .menu:hover::after {
    width: 80%;
    
  }
  .menu:hover, .menu:active {
    color: var(--primary);
    background: transparent !important;
  }
  .menu button:hover, .menu button:active {
    color: var(--primary);
    background: transparent !important;
  }
  .logo {
    font-family: var(--curl);
    padding-left: 3.5px;
    font-size: 2rem;
    font-weight: bolder;
  }
  

form {
  display: flex;
  align-items: center;
  justify-content: center;
   position: relative;
   top: 15rem;
}
.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 30vh;
  border-radius: 5px;
  box-shadow: -5px -5px 30px 5px var(--secondary), 5px 5px 30px 5px var(--primary);
  /*border: 1px solid red;*/
}
.field {
  /*cborder: 1px solid red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 70%;
}
.field input {
  width: 90%;
  padding: .5rem;
  margin: .5rem;
  border-bottom: 1px solid var(--primary);
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 1.1rem;
  font-family: var(--curl);
  outline: none;
  background: transparent;
  color: var(--primary);
}
textarea {
  font-family: var(--curl);
  outline: none;
  padding: .5rem;
  margin: .5rem;
  border: 2px solid var(--primary);
  color: var(--primary);
  background: transparent;
  font-size: 1.1rem;
}

.field i {
  background-image: linear-gradient(60deg,var(--secondary), var(--secondary), var(--primary));;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input::placeholder, textarea::placeholder {
  color: var(--primary);
  
}

.btn {
  width: 8vh;
  min-height: 2.5vh;
  margin: 1rem;
  position: relative;
  left: 15vh;
  bottom: 10px;
  border-radius: 10px;
  display: flex;
  box-shadow: #fff 0 -1px 4px, var(--secondary) 0 -2px 10px, var(--primary) 0 -10px 20px, var(--primary)  0 -18px 40px, 5px 11px 20px 3px rgba(0,0,0,0);
  justify-content: center;
  align-items: center;
  color: var(--primary);
  background: #000;
  border: none;
}