
/* GLOBAL STYLING */

:root {
    --primary: #eb0101;
    --secondary: #b8bbbc;
    --fade: linear-gradient(60deg,var(--secondary), var(--primary), var(--primary), var(--primary));
    --curl: 'lobster', cursive;
    
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background: #000;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Montserrat';
    
  }
  
  /* NAVBAR STYLING */
  
  
  
  .alpha {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    /*background: linear-gradient(0deg,var(--primary), #000, #000, #000);*/
    background: linear-gradient(0deg,#000, #000, #000, var(--primary), var(--primary));
    z-index: 2;
  }
  .nav {
  /*  position: absolute;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: fixed;
  }
  .logo-container {
    display: flex;
    align-items: center;
    background-image: var(--fade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex: 1;
  }
  
  .menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    color: var(--secondary);
    outline: none;
    text-decoration: none;
  }
  .menu {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: 1;
   /* border: 1px solid red;*/
  
  }
  .menu p {
    cursor: pointer;
    padding-left: 5px;
  }
  .menu::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 15px;
    left: 50%;
    bottom: -30%;
    z-index: 2;
    background: var(--primary);
    transform: translate(-50%, 0);
    transition: .5s ease-in-out all;
  }
  .menu:hover::after {
    width: 80%;
    
  }
  .menu:hover, .menu:active {
    color: var(--primary);
    background: transparent !important;
  }
  .menu button {
    background: transparent;
    color: var(--secondary);
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 5px;
    font-size: 1.2rem;
  }
  .menu button:hover, .menu button:active {
    color: var(--primary);
    background: transparent !important;
  }
  
  .logo {
    font-family: var(--curl);
    padding-left: 3.5px;
    font-size: 2rem;
    font-weight: bolder;
  }